# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf
*.pyx text eol=lf
*.pyd text eol=lf

# Configuration files
*.yml text eol=lf
*.yaml text eol=lf
*.toml text eol=lf
*.json text eol=lf
*.md text eol=lf

# Shell scripts
*.sh text eol=lf

# Batch scripts
*.bat text eol=crlf
*.cmd text eol=crlf
